
 .menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    color: #ffffff;
    
 }
body{
    margin: 0px;
  background-color: #f7f2f2;  
}
.grid{
    display: flex;
    flex-wrap: wrap;
   
}
.grid img{
    border: 2px solid #000000;
    border-radius: 10px;
}
.origamis {

    border-radius: 30px;
    background-color: #ffffff;
    padding: 30px;
    margin: 20px;
    width: 180px;
    font-family: fantasy;
   
    

}

img {border: 5px solid white; border-radius: 40px;}

 
   
    
